// variables: 
$body-font-color:#111111;
$links-color:$body-font-color;
$heading-color:#4A4FF2; 

footer {
        max-width: 1000px;
        margin: 62px 0px; 
    
        .footer-menu {
        display:flex;
        justify-content: space-between;
        margin-top: 114px;
    
            ul {
                list-style-type: none;
                display: flex; 
                position: relative;
                left:60px;
            
                li {
                margin-left: 29px;
                }
            }
            a {
                text-decoration: none; 
                color: $links-color ;
    
                &:hover {
                    color:$heading-color;
                }
            }
        }
    }
.footer-icons {
    position: relative;
    left: 60px;
        i {
            margin-left: 26px;
        }
    }     

         